//- page-a.pug
extends layout.pug

block content
  main
      h1
        | Votre commande est confirmée 
        span#name
      p
        | Votre numéro de commande est le #
        span#confirmation-number.bold
        | .

