//- page-a.pug
extends layout.pug

block content
  main#contact
    h1 Contact
    p  Si vous souhaitez nous contacter, voici nos coordonnées
    #contact-content.row
      section.col
        i.fa.fa-mobile.icons
        br
        br
        a(href='tel:+15141231234') (514) 123-1234
      section.col
        i.fa.fa-map-marker
        br
        br
        |       2900 boul Edouard Montpetit
        br
        |       Montréal,
        br
        |       QC H3T 1J4
      section.col
        i.fa.fa-envelope
        br
        br
        a(href='mailto:email@fictif.com') email@fictif.com
