//- layout.pug
<!DOCTYPE html>
html

  head
    meta(charset='UTF-8')
    title OnlineShop - Accueil
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='/assets/css/style.css')

  body
    header
      div
        a(href='/')
          img(src='/assets/img/logo.svg', alt='Logo')
        nav
          a(href='/') Accueil
          a(href='/produits') Produits
          a(href='/contact') Contact
          a.shopping-cart(href='/panier', title='Panier')
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x.fa-inverse
              i.fa.fa-shopping-cart.fa-stack-1x
            span.count(style='display:none;')

    block content

    footer
      | Nicolas de Chevigné (1916313) / Pierre Terroitin (1916504)


    script(src='/assets/js/jquery-3.2.1.min.js')
    script(src='/assets/scripts/script.js')
    block scripts
