//- page-a.pug
extends layout.pug

block content
  main#product
    h1#product-name
    .row
      section.col
        img#product-image
      section.col
        h2 Description
        p#product-desc
        h2 Caractéristiques
        ul#product-features
        #price
          p#price-number
            | Prix:
            span#product-price
            | $
          form#add-to-cart-form(method='get')
            label(for='quantity') Quantité :
            input#quantity.form-control(type='number', name='quantite', value='1', min='1', step='1', required='')
            button.btn(type='submit')
              i.fa.fa-cart-plus
              |   Ajouter
      #dialog Le produit a bien été ajouté

block scripts
  script(src='/assets/scripts/product.js')
