body {
	color: black;
	font-family: Arial;	
}

main{
	width: 1200px;
	padding-right: 20px;
	padding-left: 20px;

}

a {
	text-decoration: none;
	
}

header {
	background-color: #14597f;
	height: 60px;
	padding-right: 20px;
	padding-left: 20px;
}

.header-logo{
	position: relative;
	height: 60px;
	float: left;
}

.header-elements-navigations{
	position: relative;
	float: right;
}

.header-elements-navigations a{
	color: white;
}

.header-elements-navigations a:active{
	background-color: #1fb5e9;
	padding: 10px;
	border-radius: 4px; 
}

.fa-shopping-cart{
	color: #14597f;
}

.count{
	position: absolute;
	color: #d9534f;
	bottom: 0;
	right: 0;
}

.shopping-cart{
	position: relative;
}

footer{
	height: 70px;
}

